/* 
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  /* overflow-x: hidden; */

  color: #495567;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Space Mono", monospace;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
  /* opacity: 0; */
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.8rem;
}
/***************/
/* FEATURES ANIMATION */
/***************/
.h3 {
  position: relative;
  left: -70rem;
  /* opacity: 0; */
}

.h3-right {
  position: relative;
  right: -70rem;
}

.feature--image__container {
  /* transform-origin: "center"; */
  /* width: 100%; */
  transform: scale(0.1);
}

.show--mobile--nav__animation {
  /* background-color: black; */
  /* position: relative; */
  left: 0rem;
}

.hide--mobile--nav__animation {
  /* position: relative; */
  left: -80rem;
}

/* .logo {
} */

button {
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: transparent !important;
  border: 1px solid #fcb72b !important;
  color: #fcb72b !important;
}

.container {
  max-width: 120rem;
  margin: auto;
}

.nav-container {
  padding-block: 2.4rem;
}

.active--link__button {
  color: #fcb72b;
  /* border-bottom: 4px solid #fcb72b; */
  display: flex;
  flex-direction: column;
}

.active--link__button::after {
  content: "";

  margin: auto;
  height: 3px;
  width: 100%;
  background: #fcb72b;
  /* transition: width 0.5s ease, background-color 0.5s ease; */
  /* animation: bordergrowth 2s; */
}

/* @keyframes bordergrowth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
} */

.backdrop {
  position: absolute;
  background-color: black;

  z-index: 1;
  height: 100vh;
  width: 100vw;

  transition: all 2s ease-in 0.5s;
}

.show--backdrop__container {
  opacity: 0.5;
}

.hide--backdrop__container {
  opacity: 0;
}

.line-svg {
  min-width: none;
  width: 10%;
}

/*******************/
/* HEADER FOR DIFFERENT PAGES */
/*******************/
.page--header__container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  /* padding-left: 16.8rem; */
  padding-block: 6.4rem;
}

.about--page__header {
  background-image: url("../assets/images/about-hero-desktop.jpg");
}

.careers--page__header {
  background-image: url("../assets/images/careers-locations-hero-desktop.jpg");
}

.locations--page__header {
  background-image: url("../assets/images/careers-locations-hero-desktop.jpg");
}

.about--page__header,
.careers--page__header,
.locations--page__header {
  height: 20rem;
  color: #f2f5f9;
}

.header-circles {
  transform: translateX(85%);
}

/*******************/
/* FAQ SECTION */
/*******************/
.faq--answer {
  height: 0;
  opacity: 0;
  transition: 0.7s ease-in;
}

.show--faq__answer {
  height: auto;
  opacity: 1;
  padding: 15px;
}

.hide--faq__answer.faq--answer {
  padding: 0;
  /* visibility: collapse;
  position: absolute;
  animation: changevisibility 2s; */
}

@keyframes changevisibility {
  from {
    background-color: #495567;
  }
  to {
    background-color: aqua;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

ul {
  list-style: none;
}

/*******************/
/* CAREERS GENERAL CLASSES */
/*******************/
.say-hello {
  margin-block: 20.6rem;
}

/*******************************/
/******* BELOW 1200PX  ******/
/*******************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 100rem;
  }
}

/*******************************/
/******* BELOW 900PX  ******/
/*******************************/
@media (max-width: 57em) {
  .container {
    max-width: 80rem;
  }

  .feature--image__container {
    margin: auto;
    order: -5;
  }

  .pText {
    margin: auto;
    text-align: center;
    width: 70%;
  }

  .header-circles {
    transform: translateX(0%);
  }
}

/*******************************/
/******* BELOW 700PX  ******/
/*******************************/
@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  /* .container {
    max-width: 60em;
  } */
}

/*******************************/
/******* BELOW 500PX  ******/
/*******************************/
@media (max-width: 32em) {
  .container {
    max-width: 50rem;
  }

  html {
    font-size: 43.75%;
  }

  h1 {
    font-size: 4.8rem;
  }

  .pText {
    width: 80%;
  }

  .about--page__header,
  .careers--page__header,
  .locations--page__header {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about--page__header {
    background-image: url("../assets/images/about-hero-mobile.jpg");
  }

  .careers--page__header {
    background-image: url("../assets/images/careers-location-hero-mobile.jpg");
  }

  .locations--page__header {
    background-image: url("../assets/images/careers-location-hero-mobile.jpg");
  }

  .header-circles {
    position: absolute;
    visibility: hidden;
  }

  .page--header__container h1 {
    margin: auto;
  }
}
