/*************************/
/* NAVIGATION */
/*************************/
.nav {
  display: inline-block;

  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.nav div {
  display: flex;
  gap: 4.8rem;
}

.nav a:hover {
  color: #fcb72b;
}

.nav button,
.hero button {
  padding: 1.2rem 3.2rem;
  color: #f2f5f9;
  background-color: #fcb72b;

  border: none;
}

.footer--nav {
  background-color: #495567;
  color: #f2f5f9;
}

.footer--logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(26deg) brightness(111%)
    contrast(101%);
}

.footer--icons {
  align-self: center;
  display: flex;
  gap: 2.4rem;
}

/*************************/
/* HERO SECTION */
/*************************/
.hero {
  background-image: url("../assets/images/home-hero-desktop.jpg");
  object-fit: cover;

  /* height: 80vh; */
  color: #f2f5f9;

  padding-block: 10rem;
}

.hero h1 {
  width: 45%;
}

.hero-description {
  margin-top: 2.4rem;

  display: grid;
  column-gap: 2.4rem;
  align-content: center;

  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 13rem 13rem;
}

.description-text {
  width: 90%;
  grid-row: 1 / span 2;
}

.line {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
}

.arrow--circle__container {
  grid-row: 1 / span 2;
  grid-column: 3 / span 4;
  align-self: center;

  display: flex;
  gap: 3.2rem;
}

.hero button {
  margin-top: 6.8rem;
}

.hero-description span.icon-circle {
  align-self: end;
}

/*******************************/
/******* BELOW 900PX  ******/
/*******************************/
@media (max-width: 57em) {
  .hero h1 {
    width: 100%;
    text-align: center;
  }

  .line {
    visibility: hidden;
    display: none;
  }

  .hero-description {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .description-text {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .hero button {
    margin-top: 2.4rem;
  }

  .arrow-down {
    align-self: flex-start;
    width: 45%;
  }

  .arrow--circle__container {
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}

/*******************************/
/******* BELOW 500PX  ******/
/*******************************/
@media (max-width: 32em) {
  .hero {
    height: 100vh;
  }

  .hero-description span.icon-circle {
    visibility: hidden;
    position: absolute;
  }

  .hero {
    background-image: url("../assets/images/home-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .arrow-down {
    width: auto;
    position: relative;
    left: -30rem;
    top: -7rem;
  }

  .hero-description p {
    padding-block: 3.2rem;
  }

  .nav {
    flex-direction: column;
    gap: 4.9rem;
  }

  .nav div {
    flex-direction: column;
    align-items: center;
  }

  .footer--nav {
    padding-block: 4.8rem;
  }
}
