/*************************/
/* NAVIGATION */
/*************************/
.nav {
  display: inline-block;

  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.nav div {
  display: flex;
  gap: 4.8rem;
}

.nav a:hover {
  color: #fcb72b;
}

.nav button,
.hero button {
  padding: 1.2rem 3.2rem;
  color: #f2f5f9;
  background-color: #fcb72b;

  border: none;
}

/*************************/
/* HERO SECTION */
/*************************/
.hero {
  background-image: url("../assets/images/home-hero-desktop.jpg");
  object-fit: cover;

  /* height: 80vh; */
  color: #f2f5f9;

  padding-block: 10rem;
}

.hero h1 {
  width: 45%;
}

.hero-description {
  margin-top: 2.4rem;

  display: grid;
  column-gap: 2.4rem;
  align-content: center;

  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 13rem 13rem;
}

.hero-description p {
  /* width: 30%; */
}

.description-text {
  width: 90%;
  grid-row: 1 / span 2;
}

.line {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
}

.arrow-down {
  grid-row: 1 / span 2;
  align-self: center;
}

.hero button {
  margin-top: 6.8rem;
}

.hero-description span.icon-circle {
  grid-column: 4;
  grid-row: 2;

  position: relative;
  left: 5em;
}
